# This service unit is for the CEEDS react SPA
# by thopri for National Oceanograpy Centre
#

[Unit]
Description=React Web App process CEEDS tool
#OnFailure=fail-CEEDS.service

[Service]
User=thopri
Type=simple
WorkingDirectory=/home/thopri/ReSow-Ceeds-V4
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
